<div class="container_big-card">

    <div class="big-card_img">
        <img src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg" 
        alt=""
        height="200px" 
        srcset="">
    </div>

    <div class="big-card_title">
        <h1><a href="#">Nova versão do Angular</a></h1>
    </div>

    <div class="big-card_description">
        <p>
            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus nobis, consectetur pariatur laborum vitae velit iste provident, voluptatum repellendus commodi ut nesciunt id incidunt, nihil accusantium voluptates reiciendis praesentium?</a>
        </p>
    </div>

</div>
