<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles-main">
    <app-big-card
      Id={{id[0]}}
      photoCover="{{photoCover[0]}}"
      cardTitle="{{title[0]}}"
      cardDescription="{{description[0]}}"
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      Id={{id[1]}}
      cardTitle="{{title[1]}}"
      photoCover="{{photoCover[1]}}"
    ></app-small-card>
    <app-small-card
      Id={{id[2]}}
      cardTitle="{{title[2]}}"
      photoCover="{{photoCover[2]}}"
    ></app-small-card>
    <app-small-card
      Id={{id[3]}}
      cardTitle="{{title[3]}}"
      photoCover="{{photoCover[3]}}"
    ></app-small-card>
  </div>
</div>
