<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles-main">
    <app-big-card
    Id="1"
      photoCover="https://sm.ign.com/ign_br/news/r/rick-and-m/rick-and-morty-season-7-gets-rick-heavy-first-look-fall-rele_d9gq.jpg"
      cardTitle="Estão tentando nos calar!"
      cardDescription="Associação galática impõe nova forma de censura e bloqueio de portais."
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      Id="2"
      cardTitle="Aulas de direção"
      photoCover="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1686,w_3000,x_0,y_0/dpr_1.5/c_limit,w_1600/fl_lossy,q_auto/v1588568507/200503-leon-rick-morty-ease_f8zkih"
    ></app-small-card>
    <app-small-card
      Id="3"
      cardTitle="Fogo no Cerrado"
      photoCover="https://tm.ibxk.com.br/2022/11/08/08084332788026.jpg?ims=1200x675"
    ></app-small-card>
    <app-small-card
      Id="4"
      cardTitle="Chuva Ácida"
      photoCover="https://imageio.forbes.com/specials-images/imageserve/61004984b3f2e02234907f95/Rick-and-Morty-are-no-longer-voiced-by-Justin-Roiland--but-still-sound-the-same/960x0.jpg?format=jpg&width=960"
    ></app-small-card>
  </div>
</div>
